body {
	min-height: 100vh;
	min-width: 100vw;;
}
.image {
	display: flex;
	width: 65%;
	height: 65%;
	justify-content: center;
	align-items: center;
	margin-left: 23%;
	
}
.content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.links {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #85d6e5;
	cursor: pointer;
}
.links-container {
	line-height: 40px;
	width: 60%;
}
.links-container > div:not(:last-child) {
	margin-bottom: 10px;
}
.links:hover {
	background-color: #85d6e5;
}
.links:hover > span {
	color:#fff;
}
span {
	color: #767978;
	
}
@media screen and (max-width: 767px) {
	.image {
		width: 100%;
		margin-left: 13%;
		margin-bottom: 10%;
	}
	img {
		width: 120%;
	}
	.links-container {
		width: 90%;
		font-size: 20px;
		line-height: 60px;
	}
}